    <div class="special_offer  border-top">
        <h2 class="special_offer-title">Акция «Вместе дешевле»</h2>

        <div class="swiper-container  js-special_offer-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <form action="" method="post">
                        <div class="special_offer-product-first  simple_product">
                            <div class="simple_product-in">
                                <div class="simple_product-img">
                                    <img src="/static/img/prod-2.jpg" alt="">
                                </div>
                                <h3 class="simple_product-name">Philips Avent DECT радионяня SCD505</h3>
                                <div class="simple_product-price"><span class="simple_product-price-val">1 600</span>
                                    <span class="simple_product-price-currency  rouble">Р</span></div>
                            </div>
                        </div>
                        <div class="special_offer-product-second  simple_product">
                            <div class="simple_product-in">
                                <div class="simple_product-img">
                                    <img src="/static/img/prod-3.jpg" alt="">
                                </div>
                                <h3 class="simple_product-name">Philips Avent DECT радионяня SCD505</h3>
                                <div class="simple_product-price"><span class="simple_product-price-val">21 600</span>
                                    <span class="simple_product-price-currency  rouble">Р</span></div>
                            </div>
                        </div>
                        <div class="special_offer-right">
                            <div class="special_offer-discount_label">Вы экономите</div>
                            <div class="special_offer-discount">15%</div>
                            <div class="special_offer-price">
                                24 300 <span class="special_offer-price-currency rouble  hidden-sm">Р</span>
                            </div>
                            <div>
                                <button class="special_offer-btn  btn" type="submit">Купить комплект</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="swiper-slide">
                    <form action="" method="post">

                        <div class="special_offer-product-first  simple_product">
                            <div class="simple_product-in">
                                <div class="simple_product-img">
                                    <img src="/static/img/prod-3.jpg" alt="">
                                </div>
                                <h3 class="simple_product-name">Philips Avent DECT радионяня SCD505</h3>
                                <div class="simple_product-price"><span class="simple_product-price-val">21 600</span>
                                    <span class="simple_product-price-currency  rouble">Р</span></div>
                            </div>
                        </div>
                        <div class="special_offer-product-second  simple_product">
                            <div class="simple_product-in">
                                <div class="simple_product-img">
                                    <img src="/static/img/prod-2.jpg" alt="">
                                </div>
                                <h3 class="simple_product-name">Philips Avent DECT радионяня SCD505</h3>
                                <div class="simple_product-price"><span class="simple_product-price-val">1 600</span>
                                    <span class="simple_product-price-currency  rouble">Р</span></div>
                            </div>
                        </div>
                        <div class="special_offer-right">
                            <div class="special_offer-discount_label">Вы экономите</div>
                            <div class="special_offer-discount">15%</div>
                            <div class="special_offer-price">
                                24 300 <span class="special_offer-price-currency rouble  hidden-sm">Р</span>
                            </div>
                            <div>
                                <button class="special_offer-btn  btn" type="submit">Купить комплект</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <span class="special_offer-carousel-prev  js-products-carousel-prev"></span>
        <span class="special_offer-carousel-next  js-products-carousel-next"></span>

    </div>
