{% extends 'base.html' %}{% load category_tags %}{% load mptt_tags %}{% load basket_tags %}{% load common_tags %}
{% load thumbnail %}{% load range_filter %}{% load humanize %}
{% block seo_block %}
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="breadcrumbs">
            <a href="/">Главная</a> / <span class="breadcrumbs-current">Акции</span>
        </div>

        <div class="n-category">
            <div class="row">
                <div class="col-md-9  col-md-push-3">
                    <div class="n-category__header">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 class="n-category__title">Акции</h1>
                                <span class="n-category__goods-count"><b
                                        class="n-category__goods-count-val">{{ count_products }}</b> товаров</span>
                            </div>
                            <div class="col-md-4">
                                {% include 'partials/sort.html' %}
                            </div>
                        </div>
                    </div>
                    <div class="category-filter  new-filter  hidden-sm  hidden-xs">
                        {% include 'catalogue/partials/options_ajax_filter_brand_search.html' with page='sales' %}
                    </div>

                    <div class="category-mobile-btns  visible-sm  visible-xs">
                        <button class="btn  btn-sm  js-open-mobile-sorting" type="button">Сортировка</button>
                        <button class="btn  btn-sm  js-open-mobile-filter" type="button">Фильтр</button>
                    </div>

                    <div id="productList" data-attributes-order="" data-selected-attr-filter=""
                         data-current-filter-attr="">
                        {% if results %}
                            <div class="goods">
                                <div class="row">
                                    {% for p in results %}
                                        {% if p.num_in_stock > 0 and p.num_in_stock > p.num_allocated %}
                                            {% include 'catalogue/partials/product_card_stock.html' with page_type="Акции" counter=forloop.counter %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="wysiwyg_content">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2  text-center">
                                        <p>Извините, в данный момент нет товаров по акции.</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if results.paginator.num_pages > 1 %}
                            {% if not url_seo %}
                                <div class="row" id="showMoreProducts">
                                    <div class="col-sm-6  col-sm-offset-3  col-xs-10  col-xs-offset-1">
                                        <button data-category="{{ categories_ids }}" data-current-page="2"
                                                id="showMoreProductsList" class="btn  btn-blue  btn-block  btn-large"
                                                type="button">Показать ещё
                                        </button>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="n-category-footer  row">
                                <div class="col-md-8">
                                    <div class="n-category__paginator paginator">
                                        {% if results.has_previous %}
                                            {% if  results.previous_page_number == 1 %}
                                                <a class="paginator-prev" href="{{ current_path|without_query }}"></a>
                                            {% else %}
                                                <a class="paginator-prev"
                                                   href="?{% query_transform request page=results.previous_page_number %}"
                                                   data-current-page="{{ results.previous_page_number }}"></a>
                                            {% endif %}
                                        {% endif %}


                                        {% for i in results.number|modify_range:results.paginator.num_pages %}
                                            {% ifequal i results.number %}
                                                <a class="active">{{ i }}</a>
                                            {% else %}
                                                {% if i == 1 %}
                                                    <a href="{{ current_path|without_query }}">{{ i }}</a>
                                                {% else %}
                                                    <a href="?{% query_transform request page=i %}"
                                                       data-current-page="{{ i }}">{{ i }}</a>
                                                {% endif %}
                                            {% endifequal %}
                                        {% endfor %}

                                        {% if results.number|end_modify_range:results.paginator.num_pages < results.paginator.num_pages %}
                                            {% with res_modify_pages=results.number|end_modify_range:results.paginator.num_pages %}
                                                {% with result_sub=results.paginator.num_pages|minus:res_modify_pages %}
                                                    {% if result_sub > 1 %}...{% endif %}
                                                {% endwith %}
                                            {% endwith %}
                                            <a href="?{% query_transform request page=results.paginator.num_pages %}"
                                               data-current-page="{{ results.paginator.num_pages }}"
                                                    {% ifequal results.paginator.num_pages results.number %}
                                               class="active" {% endifequal %}>{{ results.paginator.num_pages }}</a>
                                        {% endif %}
                                        {% if results.has_next %}
                                            {% comment %}<a href="">...</a>{% endcomment %}
                                            <a class="paginator-next"
                                               href="?{% query_transform request page=results.next_page_number %}"
                                               data-current-page="{{ results.next_page_number }}"></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="goods-perpage">
                                        Выводить по:
                                        <span data-page-size="30"
                                              class="goods-perpage__item  goods-perpage__item_current">30</span>
                                        <span data-page-size="60" class="goods-perpage__item">60</span>
                                        <span data-page-size="90" class="goods-perpage__item">90</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-3 col-md-pull-9  hidden-sm  hidden-xs">
                    <div class="categories">
                        <div class="categories__root-name">Категории акций</div>
                        {% comment %}{% cache 5000 category_sidebar category.slug %}{% endcomment %}
                        {% include 'partials/promotions_categories_widget.html' %}
                        {% comment %}{% endcache %}{% endcomment %}
                    </div>
                </div>
                {% with seo_text=meta_tags|get_item:'seo_text' %}
                    {% if category.description and not url_seo %}
                        <div class="text_block">
                            <div class="row js-spoiler">
                                <div class="text_block-spoiler-content  js-spoiler-content">
                                    <div id="cat_description_text">
                                        {% if category.description %}{{ category.description|safe }}{% endif %}
                                        {% if seo_text and category.description %}
                                            <div style="border-bottom: 2px dotted #f682c1; margin: 20px 0;">
                                                &nbsp;
                                            </div> {% endif %}
                                        {% if seo_text %}{{ seo_text|safe }}{% endif %}
                                    </div>
                                </div>
                                <div class="text_block-spoiler-link-wr">
                                    <span class="text_block-spoiler-link  js-spoiler-link">Смотреть полностью</span>
                                </div>
                            </div>
                        </div>
                    {% elif seo_text and not url_seo %}
                        <div class="text_block">
                            <div class="row">
                                <div id="cat_description_text">
                                    {{ seo_text|safe }}
                                </div>
                            </div>
                        </div>
                    {% elif url_seo and seo_text %}
                        <div class="text_block">
                            <div class="row js-spoiler">
                                <div class="text_block-spoiler-content  js-spoiler-content">
                                    <div id="cat_description_text">
                                        {% if seo_text %}{{ seo_text|safe }}{% endif %}
                                    </div>
                                </div>
                                <div class="text_block-spoiler-link-wr">
                                    <span class="text_block-spoiler-link  js-spoiler-link">Смотреть полностью</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    {% include 'partials/filter_mobile.html' with categories_filter=categories category=category parent_category='' min_price=min_price max_price=max_price brands_filter=brands_filter  brands_filter_category=brands_filter_category %}

    {% include 'partials/sort_mobile.html' %}
{% endblock %}
{% block js_block %}{% endblock %}